.sticky-note {
    background-color:yellow;
    width: auto;
    min-height:250px;
    max-height:250px;
    padding:35px 10px 0px 10px;
    font-size:22px;
    text-align:center;
    border-bottom-right-radius: 60px 5px;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    font-family: 'Merienda One', Helvetica, sans-serif;
}
#sticky-widget {
    background-image: url("../images/stickybg.jpg");
    padding: 10px 25px 15px 25px;
    margin:5px;
    border: 7px solid lightgray;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

/* common title styles */
.title {
    margin-top:10px;
    padding:5px;
    border: 2px black solid;
    border-radius:10px;
}

.sticky-title {
    background-color:lightblue;
    border-radius:10px;
}
.nasa-title {
    background-color:lightgray;
    border-radius:10px;
}

.stock-title {    
    background-color: green;
    color: #fff;
    border-radius:10px;
}

.stock-background {
    /* background: url(../images/Stock\ Picture.jpg); */
    background: url(../images/stock-market.jpg) no-repeat center;
    background-size: cover;
    color:#fff;
    font-size: 20px;
    padding: 5px;
}
.table-row {
    display: flex;
}
.table-item {
    margin-left: 25px;
    /* border: 2px black solid; */
}
.todo-title {
    margin-top:10px;
    padding:5px;
    background-color:lightcyan;
    border: 2px black solid;
    border-radius:10px;
}
#todo-widget {
    border: 25px solid #654321;
    border-radius: 15px;
    padding:15px;
    margin-bottom:10px;
}
#meme-widget {
    padding: 5px;

}
.meme-title {
    margin-top:10px;
    padding:5px;
    background-color:rgb(0, 255, 76);
    border: 2px black solid;
    border-radius:10px;
}
.google-title {
    margin-top:10px;
    padding:5px;
    background-color:red;
    border: 2px black solid;
    border-radius:10px;
}
.responsive-iframe {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
.responsive-iframe iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
 }
 .inspirational-title {
     background-color:lightgoldenrodyellow;
 }
 #inspirational-quote {
     font-size:26px;
 }
 .widget-border {
     border:0.5px lightgray solid;
     border-radius:10px;
     margin-bottom:10px;
     padding-bottom:10px;
 }