.sticky-note {
    background-color:yellow;
    width: auto;
    min-height:250px;
    max-height:250px;
    padding:35px 10px 0px 10px;
    font-size:22px;
    text-align:center;
    border-bottom-right-radius: 60px 5px;
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    font-family: 'Merienda One', Helvetica, sans-serif;
}
#sticky-widget {
    background-image: url("../images/stickybg.jpg");
    padding: 10px 25px 15px 25px;
    margin:5px;
    border: 7px solid lightgray;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

/* common title styles */
.title {
    margin-top:10px;
    padding:5px;
    border: 2px black solid;
}

.sticky-title {
    background-color:lightblue;
}

.nasa-title {
    background-color:lightgray;
}

.stock-title {    
    background-color:white;
}

.stock-background {
    background: url(../images/Stock\ Picture.jpg);
    color: #fff;
    padding: 5px;
}
.table-row {
    display: flex;
    margin-left: 25px; 

}
.table-item {
    margin-left: 50px;
}
